{{ define "title" -}}
<title>{{ i18n . "page.app.index.title" }}</title>
{{- end }}

{{ define "body" -}}
  <div class="container">
    <div class="row text-center welcome-msg">
        <div>
          <div class="lang-links">
            <a href="/page/en/index.html">English <span class="text-muted">(en)</span></a> | <a href="/page/zh-CN/index.html">Chinese - China <span class="text-muted">(zh-CN)</span></a> | <a href="/page/ja/index.html">Japanese <span class="text-muted">(ja)</span></a> | <a href="/page/es-ES/index.html">Spanish - Spain <span class="text-muted">(es-ES)</span></a> | <a href="/page/es-MX/index.html">Spanish - Mexico <span class="text-muted">(es-MX)</span></a> | <a href="/page/de-DE/index.html">German - Germany <span class="text-muted">(de-DE)</span></a>
          </div>
          <span class="text-muted">Please note: Language listed here randomly to demostartion aah framework Internationalization (i18n) using URL Path Parameter, no specific order.</span><br>
          <span class="text-muted">Credit: Text translated using translate.google.com</span>
        </div>
        <br><br><br>
        <img src="/static/img/aah-framework-logo.png" alt="aah framework logo"/>
        <h1>{{ i18n . "page.app.index.welcome_text" }}</h1>
        <br><br>
        <div class="goal">
          {{ i18n . "page.app.index.notes" }}
        </div>
    </div>
  </div>
{{- end }}
