{{ define "title" -}}
<title>{{ i18n . "label.pages.app.index.title" }}</title>
{{- end }}

{{ define "body" -}}
<!-- CSRF for log out-->
	<form action="{{ rurl . "logout" }}" method="post" id="logoutForm">
    <!--
    It is recommended to use POST for logout
    Good read here: https://stackoverflow.com/questions/3521290/logout-get-or-post
    -->
		
    <!-- This could be used for logout with Anti-CSRF protection -->
	</form>

	<script>
		function logoutSubmit() {
			document.getElementById("logoutForm").submit();
		}
	</script>

  <div class="container">
    <div class="row text-center welcome-msg">
      <div class="text-center">
          <img src="/static/img/aah-framework-logo.png" alt="aah framework logo"/>
          <h1>{{ .Greet.Message }}</h1><br><br>

          <div class="">
            Hello {{ session . "LastName" }}, {{ session . "FirstName"}}
          </div>
      </div>

      <div class="row mtop15">
        <div class="container col-xs-6 col-xs-offset-3">
          <div class="text-center">
            <h4>Demo Links</h4>
          </div>
          <table class="table table-striped text-left">
            <thead>
              <tr>
                <th>Link</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {{ if hasrole . "administrator" }}
              <tr>
                <td><a href="{{ rurl . "admin_dashboard" }}">Admin Dashboard</a></td>
                <td>Shown to users who have role "administrator"</td>
              </tr>
              {{ end }}
              {{ if (ispermitted . "users:manage:view") (hasanyrole . "manager" "administrator") }}
              <tr>
                <td><a href="{{ rurl . "manage_users" }}">Manage Users</a></td>
                <td>Shown to users who have permission "users:manage:view"</td>
              </tr>
              {{ end }}
              <tr>
                <td><a href="javascript:logoutSubmit();">Logout</a></td>
                <td>To logout from tutorial application</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{{- end }}
