{{ define "title" -}}
<title>{{ i18n . "label.pages.app.login.title" }}</title>
{{- end }}

{{ define "body" -}}

<!--
This login page simplified version of:
https://bootsnipp.com/snippets/featured/google-style-login-extended-with-html5-localstorage
-->
<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="/static/img/aah-framework-logo.png" />
        <div class="mtop15 mbtm15">
          {{ if eq (qparam . "error") "true" }}
          <div class="alert alert-danger">
            Invalid credentials.
          </div>
          {{ end }}
        </div>
        <form class="form-signin" method="post" action="{{ rurl . "form_auth_login_submit__aah" }}">
            <input type="email" id="username" name="username" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form><!-- /form -->
    </div><!-- /card-container -->

    <div class="row">
      <div class="container col-xs-8 col-xs-offset-2">
        <div class="text-center">
          <h4>Demo Users</h4>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Username</th>
              <th>Password</th>
              <th>LastName, FirstName</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>user1@aahframework.org<br><code>Roles: user, manager | Permission: users:manage:view</code></td>
              <td>welcome123</td>
              <td>Corner, East</td>
            </tr>
            <tr>
              <td>user2@aahframework.org (user is locked state)</td>
              <td>welcome123</td>
              <td>Corner, West</td>
            </tr>
            <tr>
              <td>user3@aahframework.org<br><code>Roles: user</code></td>
              <td>welcome123</td>
              <td>Corner, South</td>
            </tr>
            <tr>
              <td>admin@aahframework.org<br><code>Roles: user, administrator | Permission: users:*</code></td>
              <td>welcome123</td>
              <td>Corner, Admin</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div><!-- /container -->

{{- end }}
