{{ define "title" -}}
<title>Wildcard Entry - aah framework: Tutorial Domain, Subdomain and Wildcard Subdomain</title>
{{- end }}

{{ define "body" -}}
  <div class="container">
    <div class="row text-center welcome-msg">
      <h1>Tutorials  - Domain, Subdomain, and Wildcard Subdomain</h1>
      <div class="row">
        <strong>Host/Domain:</strong> {{ .Host }}<br>
        <strong>Subdomain:</strong> {{ .Subdomain }}<br>
        <strong>Message:</strong> {{ .Message }}<br>
      </div>
    </div>
  </div>
{{- end }}
